<div class="lg:w-3/12 mt-8 p-20 shadow-2xl mx-auto">
  <h3 class="text-3xl text-center font-semibold py-5">Forget Password</h3>
  <form class="flex flex-col" [formGroup]="forgetForm" (ngSubmit)="sendEmail()">
    <span class="mb-4">
      Enter your email and we'll send you instructions
      on how to reset your password
    </span>
    <div class=" flex flex-col mt-4 mb-1">
      <input class="p-2 border border-gray-300 rounded" type="email" placeholder="Email" formControlName="email">
      <span class="text-red-500"
        *ngIf="forgetForm.hasError('required','email') && forgetForm.controls['email'].touched">
        * Email is
        required</span>
      <span class="text-red-500" *ngIf="forgetForm.hasError('email','email')"> * Email is
        not valid</span>
    </div>
    <div class="mt-2">
      <button [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" type="submit"
        class="bg-indigo-500 w-1/4 mr-3 p-2 rounded-md text-gray-50 ">Submit</button>
      <button routerLink="/login" routerLinkActive="router-link-active">Cancel</button>
    </div>

  </form>

</div>